<h3>WolfWare menu</h3>
    <a class="wolf-item" href="/en/wolfware-republished">Preface - 2016 republish</a>
    <a class="wolf-item" href="/wolfware/intro/welcome">The introduction</a>
    <a class="wolf-item" href="/wolfware/intro/bonnie">The Bonnie Situation</a>
    <a class="wolf-item" href="/wolfware/intro/interpretation">The interpretation</a>
    <a class="wolf-item" href="/wolfware/concept/revelation">The WolfWare concept</a>
    <a class="wolf-item" href="/wolfware/pack/thepack">Join The Pack</a>
